<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.young.jdmall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".app.JDMallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.AccountSettingActivity"/>
        <activity android:name=".ui.activity.CalendarActivity"/>
        <activity android:name=".ui.activity.SecKillActivity"/>
        <activity android:name=".ui.activity.CustomServiceActivity"/>
        <activity android:name=".ui.activity.MessageActivity"/>
        <activity android:name=".ui.activity.OrderActivity"/>
        <activity android:name=".ui.activity.TypeListActivity"/>
        <activity android:name=".ui.activity.TypeActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.HongBaoActivity"/>
        <activity android:name=".ui.activity.FillingOrderActivity"/>
        <activity android:name=".ui.activity.RegistActivity"/>
        <activity android:name=".ui.activity.AddRecepitAddressActivity"/>
        <activity android:name=".ui.activity.RecepitAddressActivity"/>
        <activity android:name=".ui.activity.NewsDetailActivity">
        </activity>
        <activity android:name=".ui.activity.SubmitSuccessActivity"/>
        <activity android:name=".ui.activity.ServiceWindowActivity"/>

        <activity android:name=".ui.activity.ProductDetaiActivity"/>

        <activity android:name=".ui.activity.CollectionActivity"/>
        <activity android:name=".ui.activity.HelpCenterActivity"/>
        <activity android:name=".ui.activity.OrderDetailsActivity"/>
        <activity android:name=".ui.activity.SearchActivity"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.activity.InfoActivity"/>

        <activity
            android:name="com.rance.chatui.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
            android:name="com.rance.chatui.ui.activity.FullImageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@android:style/Theme.Translucent" />


    </application>

</manifest>